<div class="main-page">
    <div class="title">
        <h1>Welcome to the Drone´s CRUD</h1>
    </div>
    <div class="links-btn">
        <button class="main-btn">
            <a href="/drones">Click here to see the list of Drones!</a>
        </button>
        
    </div>




</div>
